<div class="page-header">
  <h3>Event Log <small> You currently have <%= current_user.total_points %> pennies</small></h3>
</div>


<% if user_signed_in? %>
	<%= render_penny_alert current_user %>
<% end %>

<ul class="list-group">
	<% @rewards.each do |reward| %>
		<li class="list-group-item">
		  <div class="row">
		    <div class="col-md-1 reward-date">
		    	<%= reward.created_at.strftime("%d %b") %>
		    </div>
		  	<div class="col-md-9">
		  	  <p>
				<%= render_subject_for reward if !reward.subject.nil?  %><!-- helper method -->
				<%= reward.description %>
				<%= render_object_for reward if !reward.object.nil? %><!-- helper method -->
		      </p>
			</div>
			<div class="col-md-2">
				<% unless reward.points.nil? %>
				<div class="reward-points"><%= reward.points %></div>
				<% end %>
			</div>
		  </div>
		</li>
	<% end %>
</ul>