<div class="page-header">
  <h3>Event Log <small> You currently have <%= current_user.total_points %> pennies</small></h3>
</div>

<%= render 'shared/penny_alert' %>

<ul class="list-group">
	<% @rewards.each do |reward| %>
		<li class="list-group-item">
		  <div class="row">
		  	<div class="col-md-10">
		  	  <p>

		  	  	<!-- helper method -->
				<%= render_subject_for reward if !reward.subject.nil?  %>

				<%= reward.description %>
				
				<!-- helper method -->
				<%= render_object_for reward if !reward.object.nil? %>
		      </p>
			</div>
			<div class="col-md-2">
				<% unless reward.points.nil? %>
				<div class="reward-points"><%= reward.points %></div>
				<% end %>
			</div>
		  </div>
		</li>
	<% end %>
</ul>