<h2>Hello, <%= current_user.name %>! This is your dashboard.</h2>

<h3>You currently have: <%= @total_points %> Points</h3>
<ul class="list-group">
	<% @rewards.each do |reward| %>
		<li class="list-group-item"><p>
			<%= link_to User.find(reward.subject).name, post_author_path(reward.subject) if reward.subject != nil %>
			<%= reward.description %>
			<%= link_to Post.find(reward.object).title, user_post_path(current_user.id, reward.object) if reward.object != nil %>
			</p>
			<p><%= reward.points %></p>
		</li>

	<% end %>
</ul>