<div class="mansonry-row">
	<% @posts.each do |post| %>

		<div class="col-md-4">
			<div class="post-container">
				<div class="row meta-toolbar">
					<div class="col-md-6">
					<p class="date-published"><%= post.created_at.strftime("%d %b") %>
						<% if user_signed_in? && @viewed_posts.include?(post) %>
								<span class="badge viewed-post-tag" data-toggle="tooltip" data-placement="bottom" title="You already viewed this post. This won't cost you another penny"> Viewed <span class="glyphicon glyphicon-question-sign"></span></span>
						<% end %>
						<% if user_signed_in? && post.user_id == current_user.id %>
								<span class="badge"> My post<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="bottom" title="This is a post you created."></span></span>
						<% end %>
					</p>
					</div>
					<div class="col-md-6">
						<%= render 'shared/meta_toolbar_counters', post: post %>
					</div>
			    </div>

				<h1>
					<%= post.title %>
					<div class="author-link">
						<%= image_tag User.find(post.user_id).avatar.url(:thumb), class: "avatar" %>
						<%= link_to User.find(post.user_id).name, filter_post_path(:author => post.user_id) %>
					</div>
				</h1>

				<div class="post-content">
					<%= obscured_post_content_to_html(post) %>
				</div>

				<% if user_signed_in? %>
					<%= render_view_button_for post %>
				<% end %>
				
			</div>
		</div>
		
	<% end %>
</div>

