<h2>Create New Post</h2>

<%= form_for [@user, @post] do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<%= f.label :content %>
	<%= f.text_area :content %>
	<%= f.submit('Publish') %>
<% end %>