<h2>Create New Post</h2>

<% if @post.errors.any? %>
	<ul>
		<% @post.errors.full_messages.each do |error_msg| %>
			<li><%= error_msg %></li>
		<% end %>	
	</ul>
<% end %>

<%= form_for [@user, @post], html: { method: :post } do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<%= f.label :content %>
	<%= f.text_area :content %>
	<%= f.submit('Publish') %>
<% end %>