<div class="page-header">
  <h3>Posts by <%= image_tag User.find(@user.id).avatar.url(:small),
  	class: "avatar" %> <%= @user.name %> <small>(<%= @posts.count %>)</small></h3>
</div>

<%= render 'posts/penny_alert' %>
<%= render 'posts_list' %>